
<html>
<head>
<meta charset="utf-8">
<title>RP-home</title>
</head>
<body>
	<!--  <div class="page"> -->
	<header class="templatemo-site-header">
		<h1>
			<a href="#">RP-home</a>
		</h1>
	</header>
	<div class="templatemo-flex-row">
		<!--    <div class="content"> -->
		<!-- {% block body %}{% endblock %} -->
	<div class="panel-heading">
		<h2 class="text-uppercase">Current Home</h2>
	</div>
	<div class="panel-body">
		<label style="font-size:22px;">Time</label>
		<label style="font-size:26px;color:#BCF">{{time}}</label>
	</div>
	<div class="panel-body">
		<label style="font-size:22px;">Current Temperature</label>
		<label style="font-size:26px;color:#00F">{{temperature}}</label>
		<label style="font-size:22px;">℃</label>
	</div>
	<div class="panel-body">
		<label style="font-size:22px;">Current Humdity</label>
		<label style="font-size:26px;color:#BCF">{{humidity}}</label>
		<label style="font-size:22px;">%</label>
	</div>
	<div class="panel-body">
		<label style="font-size:22px;">Current Home</label>
		<label style="font-size:26px;color:#BCF">{{human}}</label>
	</div>
	<div class="panel-body">
		<label style="font-size:22px;">Sound detecting</label>
		<label style="font-size:26px;color:#BCF">{{sound}}</label>
	</div>
	<div class="panel-body">
		<label style="font-size:22px;">Fire</label>
		<label style="font-size:26px;color:#BCF">{{fire}}</label>
	</div>
	<div class="panel-body">
		<label style="font-size:22px;">light</label>
		<label style="font-size:26px;color:#BCF">{{light}}</label>
	</div>
	<div class="panel-body">
		<label style="font-size:22px;">Gas</label>
		<label style="font-size:26px;color:#BCF">{{smoke}}</label>
	</div>
	<div class="panel-body">
		<form action="/getT/" method=post>
			<button type=submit class="templatemo-blue-button">check</button>
		</form>
		<form action="/human/" method=post>
		</form>
		<form action="/skip/4" method=post>
			<button type=submit class="templatemo-blue-button">home</button>
		</form>
	</div>

</body>
</html>
