
<html>
<head>
<meta charset="utf-8">
<title>RpiCloudManager</title>
</head>
<body>
	<!--  <div class="page"> -->
	<header>
		<h1>
			<a href="#">RP-home</a>
		</h1>
	</header>
		<!--    <div class="content"> -->
		<!-- {% block body %}{% endblock %} -->
	<div class="panel-heading">
		<h2 class="text-uppercase">查看视频监控</h2>
	</div>
	<div class="panel-body">
	<img style="-webkit-user-select: none" src="http://192.168.2.103:8081">
	</div>
	<div class="panel-body">
	<form action="/skip/4" method=post>
		<button type=submit class="templatemo-blue-button">home</button>
	</form>
	</div>
</body>
</html>
