
<html>
<head>
<meta charset="utf-8">
<title>RP-home</title>
</head>
<body>
	<!--  <div class="page"> -->
	<header class="templatemo-site-header">
		<h1>
			<a href="#">RP-Home</a>
		</h1>
	</header>
	<div class="col-md-4">
		<form action="/skip/3" method=post>
			<input type=image value="GPIO" src="{{ url_for('static', filename='1.jpg') }}" />
		</form>
	</div>
	<div class="col-md-4">
		<form action="/skip/2" method=post>
			<input type=image value="Video Camera " src="{{ url_for('static', filename='3.jpg') }}" />
		</form>
	</div>
	<div class="col-md-4">
		<form action="/skip/1" method=post>
			<input type=image value="Temperature&Humdity" src="{{ url_for('static', filename='2.jpg') }}" />
		</form>
	</div>
	<footer>
		<p>
			Power by Zhangyu</a>
		</p>
	</footer>
</body>
</html>
